

<!DOCTYPE html>

<html>
    <head>
        <title>Welcome to WikiPlus</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        
        <script src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")"></script>
        
        <script type="text/javascript" >
			$( document ).ready(function() {
				$( "#searchBtn" ).on( "click", function() {
					var input = $('#searchBox').val();
					
					if(input.length>0){
						var protocol = location.protocol;
						var host = window.location.host;
						location.href = protocol + '//' + host + '/wiki/' + input;
					} else
						alert('Please enter a city name!');
				});
				
			});
		</script>  
    </head>
    <body>
 		<div class="container">
 			<div class="header">
 				<h1>WikiPlus</h1>
 			</div>
 			
 			<div class="description">
 				<h1>Find your way in....</h1>
 				<p>Interactive travel guide with open-data</p>
 			</div>
 			
 			<div class="search">
 				<input type="text" name="searchBox" id="searchBox">
 				<button type="button" class="btn btn-primary" id="searchBtn">Search</button>
 			</div>
 		
 		</div>
    </body>
</html>
