

<!DOCTYPE html>

<html>
    <head>
        <title>Welcome to WikiPlus</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
 		<div class="container">
 			<div class="header">
 				<h1>WikiPlus</h1>
 			</div>
 			
 			<div class="description">
 				<h1>Find your way in....</h1>
 				<p>Interactive travel guide with open-data</p>
 			</div>
 			
 			<div class="search">
 				<input type="text" name="searchBox">
 				<button type="button" class="btn btn-primary" id="searchBtn">Search</button>
 			</div>
 			
 			
 		
 		</div>
    </body>
</html>
